.celebrations {
  position: relative;
  z-index: 10;
  padding: 120px 20px 120px;
  background-color: var(--color-white);
  overflow: hidden;
}

.celebrations__carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.celebrations__slides {
  overflow-x: auto;
  overflow-y: hidden;
  cursor: grab;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scroll-behavior: auto;
}

.celebrations__slides:active {
  cursor: grabbing;
}

.celebrations__slides::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.celebrations__track {
  display: flex;
  align-items: center;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1050%);
  }
}

.celebrations__slide {
  width: 350px;
  height: 467px;
  flex-shrink: 0;
  margin-right: 150px;
}

.celebrations__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (min-width: 768px) {
  .celebrations {
    padding: 160px 40px 160px;
  }

  .celebrations__track {
    animation: slide 50s linear infinite !important;
  }
}
