.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 10px;
  padding: 120px 48px 48px;
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out, transform 0.1s ease-out;
  transform-origin: center;
}

.header-section--hidden {
  opacity: 0;
  pointer-events: none;
}

.header-title {
  font-family: 'New Spirit', sans-serif;
  font-weight: 400;
  font-size: 144px;
  line-height: 1.170212745666504;
  letter-spacing: -3%;
  text-align: center;
  color: #000000; /* Using EB Garamond color for paragraph 1 */
}