.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('/assets/montale_view.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-content {
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.hero-names {
  font-family: 'Aboreto', serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.1em;
  letter-spacing: -3%;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.hero-text {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  margin: 0;
}

.hero-text-main {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  margin: 0;
}

.hero-text-details {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  margin: 0;
}