.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background: #FFFFFF;
  position: relative;
  overflow-y: auto;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}