@font-face {
  font-family: 'Gegor Black';
  src: url('/assets/fonts/GegorBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gegor';
  src: url('/assets/fonts/GegorDemo.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Casta Thin';
  src: url('/assets/fonts/CastaThin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'New Spirit';
  src: url('/assets/fonts/NewSpirit.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #faf6f0;
}

body {
  font-family: 'New Spirit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #faf6f0;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body::before {
  position: fixed;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image:
    url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-color: #8C8C8C;
  opacity: 20%;
  pointer-events: none;
}

#root {
  width: 100%;
  min-height: 100vh;
}